<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Home</title>
</head>
<body>
    <div class="wrapper">
        <div class="mainContainer">
            <div class="leftSide">
                <div class="newMessageSection">
                    <button id="addFriendButton">+ Add friend</button>
                </div>
                
                <div class="chatsSection">
                    <div class="searchSection">
                        <input type="text" placeholder="Search for users..." id="userSearchbox">
                        <button id="newMessageButton">+</button>
                    </div>
                    <div class="chats">
                        <ul class="chatList">
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                            <li class="chatPreview">
                                <div class="chatPreviewProfilePicture">
                                    <img src="{{profilePic}}" alt="Profile Picture">
                                </div>
                                <div class="chatPreviewContent">
                                    <p>Name Today</p>
                                    <p>Message</p>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                </div>
                <div class="profileSettings">
                    <img src="{{profilePic}}" alt="Profile Picture">
                    <p>Settings</p>
                </div>
            </div>
            <div class="messagingSection">
                <div class="chatHeader">
                    <img src="{{profilePic}}" alt="Profile Picture">
                    <h1>Name</h1>
                </div>
                <div class="chatContent">
                    <ul>
                        <li class="message">
                            <span class="mine">
                                <h2>This is my message</h2>
                            </span>
                        </li>
                        <li class="message">
                            <span class="others">
                                <h2>This is their message</h2>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="sendSection">
                    <button id="stickerButton" class="sendSectionButton">Stkr</button>
                    <button id="fileButton" class="sendSectionButton">File</button>
                    <button id="gifButton" class="sendSectionButton">GIF</button>
                    <input type="text" id="messageContentInput" placeholder="Type a message...">
                    <button id="sendMessageButton" class="sendSectionButton">Send</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>